<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Penpusher</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/template")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/template")
    

    <link type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a id="UnreadNews" href="#" onclick="LoadMainPage()"><span class="glyphicon glyphicon-bell"></span><i class="fa fa-fw"></i> Unread news</a>
                        </li>
                        <li>
                            <a id="FavoritePage" href="#" onclick="LoadFavoritePage()"><span class="glyphicon glyphicon-heart"></span><i class="fa fa-fw"></i> Favorite</a>
                        </li>
                        <li>
                            <a id="ReadLaterPage" href="#" onclick="LoadReadLaterPage()"><span class="glyphicon glyphicon-bookmark"></span><i class="fa fa-fw"></i> Saved for later</a>
                        </li>
                        <li>
                            <a id="ReadPage" href="#" onclick="LoadReadPage()"><span class="glyphicon glyphicon-book"></span><i class="fa fa-fw"></i> Already read</a>
                        </li>
                        <li>
                            <a id="SubscriptionsPage" href="#" onclick="LoadSubscriptionsPage()"><span class="glyphicon glyphicon-wrench"></span><i class="fa fa-fw"></i> Manage content</a>
                        </li> 
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-briefcase"></span><i class="fa fa-fw"></i> Providers<span class="fa arrow"></span></a>
                            <ul id="subscriptions" class="nav nav-second-level" data-bind="foreach: providers">
                                <li>
                                    <a data-bind="attr: { href:'/Main/ArticlesBySubscription?providerID=' + IdNewsProvider }, text: Name" class="hrefsub"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script type="text/javascript" src="~/Scripts/_LayoutScript.js"></script>
        <div id="page-wrapper">

            @RenderBody()

        </div>
        <div id="footer">
            <div id="copyrightLabel">
                <label>Penpusher 2016</label>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
