<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penpusher</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="~/Scripts/MasterPageScript.js"></script>
    <link type="text/css" href="~/Content/Site.css" />
    

</head>
<body>
<div class="container">
    <div id="sidebar">
        <div class="side-bar-content">
            <div>
                <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-128.png"
                     width="40"
                     height="40"/>
                <label>@ViewBag.UserName</label>
                <button id="logOutBtn" onclick="location.href = '@Url.Action("LogOff", "Account")'">Log out</button>
            </div>
        </div>
        <hr/>
        <ul>
            <li><button class="myButton">Favorite</button></li>
            <li><button class="myButton">Saved for later</button></li>
            <li>
                <select id="sideBarSelect" class="styled-select green rounded">
                    @{
                        foreach (var item in ViewBag.ProvidersList)
                        {
                            <option>@item</option>
                        }
                    }

                </select>
            </li>
            <li><button class="myButton"onclick="location.href = '@Url.Action("Subscriptions", "Main")'">Manage content</button></li>
        </ul>
    </div>
    <div id="content">
        @RenderBody()

    </div>
    <div id="footer">
        <div id="copyrightLabel">
            <label>Penpusher 2016</label>
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
